<section id="body-bg">

    <div class="header">
        <div class="select-le">
        </div>

        <div class="logo">
            <img class="img-fluid" src="assets/images/white-MegaLogo.png">
        </div>

        <div>
        </div>
    </div>


     <div class="popup mx-auto text-center">
        <h2 class="heading1 text-center">{{ "ONLINE_PHOTOP_GALLERY.VISITING_OUR_ONLINE_SHOP" | translate }}</h2>
        <img src="assets/images/complete.gif">
        <p class="content-style text-center">{{ "ONLINE_PHOTOP_GALLERY.DISPATCHED_EMAIL" | translate }}</p>
    </div>



    </section>
<!-- 
    <app-back-drop-loader *ngIf="isLoading"></app-back-drop-loader> -->
