<section id="body-bg-color">
    <div class="row px-15">
        <div class="col mx-auto my-2 text-center">
            <div class="popup mx-auto">
                <div class="image-and-logo">
                    <div class="logo">
                        <img class="img-fluid" src="assets/images/white-MegaLogo.png">
                    </div>
                    <div class="image-not-avialable">
                    <img class="img-fluid" src="assets/images/photo-not-avialable.png">
                </div>
                </div>
                <h2 class="heading-1">{{"ONLINE_PHOTOP_GALLERY.OOPS" | translate }}</h2>
                <div class="line"></div>
                <p class="heading2">{{ "ONLINE_PHOTOP_GALLERY.THE_REQUESTED_RESOURCE_DOES_NOT_EXIST" | translate }}
                </p>
            </div>
        </div>
    </div>
</section>



<!-- Printing… -->
